@model Musical.Web.Models.Event

@{
    ViewBag.Title = "Create";
}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header bg-primary py-1">
                <h5 class="text-center m-0 text-white">Nuevo Evento</h5>
            </div>
            <div class="card-body">
                <form class="" action="@Url.Action("Create","Events")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-md-10">Artista</label>
                        <div class="col-md-12">
                            <select class="form-control" name="ApplicationUser" required>
                                <option value="">Elige un Artista</option>
                                @foreach (var item in ViewBag.User)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">Elige la fecha de tu evento</label>
                        <div class="col-md-12">
                            <input type="date" name="DateTime" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">Lugar del Evento</label>
                        <div class="col-md-12">
                            <input type="text" name="Place" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-10">Género</label>
                        <div class="col-md-12">
                            <select class="form-control" name="GenreId" required>
                                <option value="">Elige un Genero</option>
                                @foreach (var item in ViewBag.Genre)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6">Picture</label>
                            <div class="col-md-12">
                                <input name="file" type="file" value="" class="form-control form-control-file" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-sm btn-icon-split btn-primary"><span class="icon text-white-50"><i class="fas fa-save"></i></span><span class="text">Guardar</span></button>
                        <a href="@Url.Action("Index","Events")" class="btn btn-sm btn-icon-split btn-danger ml-2"><span class="icon text-white-50"><i class="fas fa-arrow-left"></i></span><span class="text">Cancelar</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




