@model IEnumerable<Musical.Web.Models.Event>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a href="@Url.Action("Create","Events")" class="btn btn-sm btn-primary btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            <span class="text">Evento</span>
        </a>
    </p>
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primary py-2">
                <h5 class="m-0 text-center text-white">Lista de Eventos</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover " id="MyEvents">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Género</th>
                            <th>Fecha</th>
                            <th>Lugar</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Genre.Name</td>
                                <td>@item.DateTime.ToShortDateString()</td>
                                <td>@item.Place</td>
                                <td>
                                    <a href="@Url.Action("Edit","Events",new { id=item.Id})" class="btn btn-sm btn-circle btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="@Url.Action("Details","Events",new { id=item.Id})" class="btn btn-sm btn-circle btn-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="@Url.Action("Delete","Events",new { id=item.Id})" class="btn btn-sm btn-circle btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#MyEvents').DataTable();
        });
    </script>


} 